-- MIGRACIÓN 31: Corregir monthly_fee = 0 en estudiantes nuevos sept 2026
-- Corre en Supabase SQL Editor DESPUÉS de la migración 30.
DO $$
DECLARE
  v_student     RECORD;
  v_pay_amount  numeric;
  v_gen_day     int;
  v_first_due   date;
BEGIN
  SELECT COALESCE(generation_day, 25) INTO v_gen_day FROM public.school_settings WHERE id = 1;
  v_first_due := make_date(2026, 9, v_gen_day);

  IF EXISTS (SELECT 1 FROM pg_trigger WHERE tgname = 'trg_sync_month_payment' AND tgrelid = 'public.students'::regclass) THEN
    ALTER TABLE public.students DISABLE TRIGGER trg_sync_month_payment;
  END IF;

  FOR v_student IN
    SELECT s.id, s.name, s.last_name, s.monthly_fee,
           (SELECT p.amount FROM public.payments p
            WHERE p.student_id = s.id AND p.deleted_at IS NULL
              AND p.concept = 'Mensualidad' AND p.month_paid = '2026-09' LIMIT 1) AS pago_sept
    FROM public.students s
    WHERE s.is_active = true AND s.deleted_at IS NULL
      AND to_char(s.start_date, 'YYYY-MM') = '2026-09'
  LOOP
    v_pay_amount := v_student.pago_sept;

    -- monthly_fee = 0 pero hay pago activo → recuperar monto del pago
    IF COALESCE(v_student.monthly_fee, 0) = 0 AND COALESCE(v_pay_amount, 0) > 0 THEN
      UPDATE public.students SET monthly_fee = v_pay_amount WHERE id = v_student.id;
      RAISE NOTICE 'monthly_fee recuperado: % para % % (id=%)', v_pay_amount, v_student.name, v_student.last_name, v_student.id;

    -- monthly_fee > 0 pero el pago tiene monto diferente → corregir el pago
    ELSIF COALESCE(v_student.monthly_fee, 0) > 0 AND COALESCE(v_pay_amount, 0) > 0
          AND v_pay_amount <> v_student.monthly_fee THEN
      UPDATE public.payments SET amount = v_student.monthly_fee, updated_at = now()
       WHERE student_id = v_student.id AND deleted_at IS NULL
         AND concept = 'Mensualidad' AND month_paid = '2026-09';
      UPDATE public.student_charges SET amount = v_student.monthly_fee, amount_net = v_student.monthly_fee
       WHERE student_id = v_student.id AND type = 'mensualidad' AND month_paid = '2026-09';
      RAISE NOTICE 'Monto pago corregido: % → % para % % (id=%)', v_pay_amount, v_student.monthly_fee, v_student.name, v_student.last_name, v_student.id;

    ELSIF COALESCE(v_student.monthly_fee, 0) = 0 AND COALESCE(v_pay_amount, 0) = 0 THEN
      RAISE WARNING '% % (id=%) sin monthly_fee ni pago activo. Ingresar monto manualmente.', v_student.name, v_student.last_name, v_student.id;
    END IF;

    -- Asegurar due_date = 25/9 y status correcto en el pago de sept
    UPDATE public.payments
       SET due_date = v_first_due,
           status   = CASE WHEN v_first_due < current_date THEN 'overdue' ELSE 'pending' END,
           updated_at = now()
     WHERE student_id = v_student.id AND deleted_at IS NULL
       AND concept = 'Mensualidad' AND month_paid = '2026-09'
       AND due_date <> v_first_due;

  END LOOP;

  IF EXISTS (SELECT 1 FROM pg_trigger WHERE tgname = 'trg_sync_month_payment' AND tgrelid = 'public.students'::regclass) THEN
    ALTER TABLE public.students ENABLE TRIGGER trg_sync_month_payment;
  END IF;

  -- Resumen
  FOR v_student IN
    SELECT s.id, s.name, s.last_name, s.monthly_fee,
           (SELECT count(*) FROM public.payments p WHERE p.student_id = s.id AND p.deleted_at IS NULL) AS pagos,
           (SELECT string_agg(p.month_paid||'=$'||p.amount::text, ', ' ORDER BY p.month_paid)
            FROM public.payments p WHERE p.student_id = s.id AND p.deleted_at IS NULL) AS detalle
    FROM public.students s
    WHERE s.is_active = true AND s.deleted_at IS NULL AND to_char(s.start_date, 'YYYY-MM') = '2026-09'
    ORDER BY s.name
  LOOP
    RAISE NOTICE '% % | monthly_fee=% | pagos=% | %', v_student.name, v_student.last_name, v_student.monthly_fee, v_student.pagos, v_student.detalle;
  END LOOP;
END;
$$;
