-- ═══════════════════════════════════════════════════════════════════════════
-- MIGRACIÓN 32: Corregir montos incorrectos en pagos de nuevos sept 2026
-- ─────────────────────────────────────────────────────────────────────────
-- Kyliam  → payments muestra 1,501 o 4,500  (debe ser 1,500)
-- Allegra → payments muestra 4,500          (debe ser 1,500)
--
-- Estrategia:
--   Para cada estudiante con start_date en 2026-09:
--   1. Leer monthly_fee real de students (fuente de verdad).
--   2. Si monthly_fee > 0: actualizar todos sus pagos activos de Mensualidad
--      al monto correcto.
--   3. Si monthly_fee = 0: dejar WARNING — la directora debe ingresar el monto.
-- ═══════════════════════════════════════════════════════════════════════════

DO $$
DECLARE
  v_student   RECORD;
  v_gen_day   int;
  v_first_due date;
BEGIN
  SELECT COALESCE(generation_day, 25) INTO v_gen_day
  FROM public.school_settings WHERE id = 1;
  v_first_due := make_date(2026, 9, v_gen_day);

  FOR v_student IN
    SELECT s.id, s.name, s.last_name, s.monthly_fee
    FROM public.students s
    WHERE s.is_active = true
      AND s.deleted_at IS NULL
      AND to_char(s.start_date, 'YYYY-MM') = '2026-09'
  LOOP

    IF COALESCE(v_student.monthly_fee, 0) > 0 THEN

      -- Corregir monto en payments
      UPDATE public.payments
         SET amount     = v_student.monthly_fee,
             updated_at = now()
       WHERE student_id = v_student.id
         AND deleted_at IS NULL
         AND concept    = 'Mensualidad'
         AND amount    <> v_student.monthly_fee;

      -- Corregir monto en student_charges
      UPDATE public.student_charges
         SET amount     = v_student.monthly_fee,
             amount_net = v_student.monthly_fee
       WHERE student_id = v_student.id
         AND type       = 'mensualidad'
         AND amount    <> v_student.monthly_fee;

      -- Garantizar due_date = 25/9 y status = pending en el pago de sept
      UPDATE public.payments
         SET due_date   = v_first_due,
             status     = 'pending',
             updated_at = now()
       WHERE student_id = v_student.id
         AND deleted_at IS NULL
         AND concept    = 'Mensualidad'
         AND month_paid = '2026-09';

      RAISE NOTICE '✅ % % (id=%) → monto corregido a %',
        v_student.name, v_student.last_name, v_student.id, v_student.monthly_fee;

    ELSE
      RAISE WARNING '⚠️  % % (id=%) — monthly_fee = 0. Ingresar monto en expediente.',
        v_student.name, v_student.last_name, v_student.id;
    END IF;

  END LOOP;
END;
$$;
